footer {
    background-color: #134c8f;
    height: 85px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}
.redes{
    margin:10px;
}
.icons{
    margin-left: 20px;
    transition: all 0.3s;
}
.icons:hover{
    transform: scale(1.2);
}
.logoUniversae{
    padding-left: 15px;
    width: 80px;
    transition: all 0.3s;
}
.logoUniversae:hover{
    transform: scale(1.2);
}