footer {
    background-color: #134c8f;
    height: 85px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
}
.socialMedia {
    margin: 25px 750px;
}
.socialMedia ul{
    display: flex;
}
.socialMedia ul li{
    list-style: none;
    margin-left: 10px;
    color: white;
    font-size: 36px;
    transition: all 0.5s;
    cursor: pointer;
}
.socialMedia ul li:hover {
    color: black;
    transform: scale(1.3);
}